<% content_for :meta_title, "NWRUG Event: #{@event.title}, #{@event.date.to_s(:short_date)}" %>
<% content_for :meta_description, truncate(render_plaintext(@event.description), length: 160) %>

<article class="event no-aside">
  <% if current_user.present? %>
    <div class="controls">
      <%= link_to 'Edit', edit_event_path(@event) %>
    </div>
  <% end %>

  <h1 class="large-heading">Event: <%= @event.title %></h1>
  <h2 class="secondary-colour"><%= @event.date.to_s(:short_date) %> <%= @event.time %> at <%= @event.location.name %></h2>

  <%= render_markdown @event.description %>

  <% if location = @event.location %>
    <h2>The location</h2>
    <div class="vcard">
     <a class="fn org url" href="<%= location.website %>"><%= location.name %></a>
     <span class="adr">
      <span class="street-address"><%= location.street_address %></span>,
      <span class="locality"><%= location.city %></span>,
      <span class="postal-code"><%= location.postal_code %></span>.
     </span>
    </div>

    <div class='embed-container'>
      <iframe width='600' height='300' frameborder='0' style='border:0' src='<%= google_maps_embed_url(location) %>' allowfullscreen></iframe>
    </div>
  <% end %>
</article>

<article class="no-aside">
  <h2>About NWRUG events</h2>
  <p>
    Our events are free and open to anyone with an interest in Ruby, regardless
    of experience level. There is no need to register, just show up on the day!
    We want to keep NWRUG as welcoming and inclusive as possible so we ask that
    all attendies follow our <%= link_to 'Code of conduct', code_of_conduct_path %>.
    If you have any questions, <%= link_to 'get in touch', 'mailto:info@nwrug.org' %>.
  </p>
</article>
