<% content_for :meta_title, default_page_title %>
<% content_for :meta_description, 'Manchester-based community group for those with an interest in the Ruby programming language. We meet on the 3rd Thursday each month.' %>

<article>
  <p>
    NWRUG is a Manchester-based community for people interested in the
    <%= link_to "Ruby programming language", "https://www.ruby-lang.org/en/" %>.
    We run regular <%= link_to "events", events_path %> open to anyone with an
    interest in Ruby.
  </p>

  <h2 id="our-aim">Our aim</h2>

  <p>
    Our aim is to help grow and support the Ruby community in the North West.
    We hold monthly talks, workshops and events on the third Thursday of every
    month. There is no need to register or become a member, just turn up on
    the day.
  </p>

  <p>
    You should come to NWRUG if you:
    <ul>
      <li>
        are new to Ruby and want to learn more
      </li>
      <li>
        work with Ruby and want to level up your knowledge
      </li>
      <li>
        like hearing interesting talks about Ruby and software development
        in general
      </li>
    </ul>
  </p>

  <p>
    We want NWRUG to be a diverse and inclusive community that is open
    to all those with an interest in Ruby regardless of gender, sexual
    orientation, disability, appearance, race or religion. Read more about
    <%= link_to "participating with NWRUG", participate_path %> and our
    <%= link_to "code of conduct", code_of_conduct_path %>.
  </p>
</article>

<%= render 'events/aside' %>
