<% content_for :meta_title, "Participate | #{default_page_title}" %>
<% content_for :meta_description, 'There are many ways to participate in the North West Ruby User Group. This page outlines some.' %>

<article class="no-aside">
  <h1 id="participate">Participate</h1>

  <section>
    <h2 id="monthly-events">Monthly events</h2>
    <p>
      Each month there is an NWRUG event in Manchester, normally on the third
      Thursday. Most months there is a talk on a Ruby or Ruby-related topic,
      followed by a visit to a local pub. Attendence is free and there is no
      need to register or become a member, just show up on the day.
    </p>
    <p>
      <% if next_event.present? %>
        The next event will be on <%= next_event.date.to_s(:short_date) %>: <%= link_to next_event.title, event_path(next_event) %>.
      <% else %>
        The next event will be on <%= Event.next_date.to_s(:short_date) %> (details to follow&hellip;).
      <% end %>
      General information about NWRUG events can be found on the <%= link_to 'events page', events_path %>.
    </p>
  </section>

  <section>
    <h2 id="mailing-list">Mailing list</h2>
    <p>The <%= link_to 'NWRUG Google Group', mailing_list_url %> provides a forum for members to discuss Ruby-related topics, as well as a place for Ruby-related announcements relevant to the community. Joining this group is probably the best way to stay informed about upcoming meetings. Please adhere to our <%= link_to 'code of conduct', code_of_conduct_path %> when posting to the group. We also have <%= link_to 'specific guidelines for job posts', 'https://groups.google.com/d/msg/nwrug-members/pkCjJAhCRwI/ddzTFK3wAcAJ' %>.</p>
  </section>

  <section>
    <h2 id="meetup.com">Meetup.com</h2>
    <p>
      NWRUG is on Meetup.com! <%=link_to 'Join our Meetup community here',
        'https://www.meetup.com/North-West-Ruby-User-Group/' %>.
    </p>
  </section>

  <section>
    <h2 id="speaking-at-nwrug">Speak at NWRUG</h2>
    <p>
      Our talks are given by members of the community and we're always looking
      for people to give talks, especially those that are new to the group or
      have not spoken before. If you'd like to give a talk at NWRUG,
      <%= link_to 'get in touch', 'mailto:info@nwrug.org.uk' %>. Talks can be
      anything from 15 to 40 minutes in length, and don't necessarily have to
      be about Ruby specifically. As long as it's a subject that will be of
      interest or relevant for Ruby developers, then it is likely to be
      accepted.
    </p>
    <h3 id="help-with-speaking">Help with speaking</h3>
    <p>
      Giving a talk can be a daunting experience, even for veteran speakers.
      If you would like some help with your talk, let us know, we're always
      happy to help. You might also find these resources helpful:

      <ul>
        <li>
          <%= link_to 'Doing presentations', 'http://www.doingpresentations.com' %>
          is an excellent collection of thoughts, tips and links on giving a
          presentations.
        </li>
        <li>
          <%= link_to 'Tips for new speakers', 'http://rethink-testing.co.uk/?p=158' %>
          from Rethink Testing.
        </li>
        <li>
          <%= link_to 'Tips and Techniques for More Confident and Compelling Presentations',
                      'https://www.gsb.stanford.edu/insights/matt-abrahams-tips-techniques-more-confident-compelling-presentations' %>
          by Matt Abrahams from Standford Business
        </li>
        <li>
          <%= link_to '5 Secrets of Public Speaking From the Best TED Presenters',
                      'http://www.inc.com/jessica-stillman/ted-speakers-on-presenting-public-speaking.html' %>
          by Jessica Stillman
        </li>
      </ul>
    </p>
  </section>

  <section>
    <h2 id="irc-channel">IRC channel</h2>
    <p>
      There is an #nwrug channel on irc.freenode.net. As with the mailing
      list, please adhere to our
      <%= link_to 'code of conduct', code_of_conduct_path %> when posting to
      the IRC channel.
    </p>
  </section>

  <section>
    <h2 id="sponsor-nwrug">Sponsor NWRUG</h2>
    <p>NWRUG is a community-run group and we are always grateful for sponsorship from companies looking to support the work that we do. If you would like to sponsor NWRUG, <%= link_to 'get in touch', 'mailto:info@nwrug.org.uk' %>. We generally use sponsorship money to buy refreshments for our events, or for a bar-tab after the meeting at the pub. In return for your sponsorship, NWRUG will:</p>

    <ol>
      <li>mention the sponsorship on the details page for the corresponding event</li>
      <li>mention the sponsorship on the announcement email sent to <%= link_to 'the mailing list', mailing_list_url %></li>
      <li>tweet about the sponsorship from <%= link_to '@nwrug', 'https://twitter.com/nwrug' %> at least once</li>
      <li>mention the sponsorship at the event itself and give you the opportunity to make a short 30 second or so announcement at the start of the event so you can talk to the group</li>
    </ol>
  </section>
</article>
