<!DOCTYPE html>
<html>
<head>
  <title>North West Ruby User Group, Manchester, UK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>North West Ruby User Group</h1>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></a></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><a href="/participate">Participate</a></li>
        <li><%= link_to 'Code of Conduct', code_of_conduct_path %></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <ul>
      <li><%= link_to 'info@nwrug.org', 'mailto:info@nwrug.org' %></li>
      <li><%= link_to 'Github', 'https://github.com/nwrug' %></li>
      <li><%= link_to 'Twitter', 'https://twitter.com/nwrug' %></li>
    </ul>

    <p>
      NWRUG is organised by <%= link_to 'Tekin Suleyman', 'http://tekin.co.uk' %>, <%= link_to 'Ben Aldred', 'http://tinycodefactory.com' %> and <%= link_to 'Will Jessop', 'http://willj.net' %>.
      Kindly hosted by <%= link_to 'Brightbox', 'https://www.brightbox.co.uk/a/zr3hp' %>.
    </p>

    <p>This text is licensed as <%= link_to 'CC0', 'http://creativecommons.org/about/cc0' %>; in summary, it is in the public domain and can be used and modified with or without attribution.</p>
  </footer>
</body>
</html>
