<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= yield :meta_title %></title>
  <meta name="description" content="<%= yield :meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">
    <header>
      <div class="nav-container">
        <nav class="nav-collapse">
          <ul>
            <li><%= link_to 'Home', root_path %></a></li>
            <li><%= link_to 'Events', events_path %></li>
            <li><%= link_to 'Participate', participate_path %></li>
            <li><%= link_to 'Code of Conduct', code_of_conduct_path %></li>
          </ul>
        </nav>
      </div>

      <% if current_user.present? %>
        <div id="admin">
          <%= link_to 'New event', new_event_path %>
          <%= link_to 'New quiz', new_quiz_path %>
          <%= link_to 'Sign out', signout_path %>
        </div>
      <% end %>

      <h1 class="clearfix">
        <%= link_to_unless_current 'NWRUG', root_path %>
      </h1>
      <h2>North West Ruby User Group</h2>
    </header>


    <div class="main wrapper clearfix">

      <div id="flash">
        <%= content_tag(:p, flash[:alert], :class => 'alert') if flash[:alert] %>
        <%= content_tag(:p, flash[:notice], :class => 'notice') if flash[:notice] %>
      </div>

      <%= yield %>
    </div>

    <div class="footer-container">
      <footer class="wrapper">
        <ul class="">
          <li>Email: <%= link_to 'info@nwrug.org', 'mailto:info@nwrug.org' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/nwrug' %></li>
          <li><%= link_to 'Mastodon', 'https://ruby.social/@NWRUG', rel: 'me' %></li>
          <li><%= link_to 'Bluesky', 'https://bsky.app/profile/nwrug.org' %></li>
          <li>Part of the <%= link_to 'North West Tech Community', 'https://technw.uk' %></li>
        </ul>

        <p>
          NWRUG is organised by <%= link_to 'Tekin Suleyman', 'http://tekin.co.uk' %>
          and <%= link_to 'Rob Whittaker', 'https://ruby.social/@purinkle' %>
          Website kindly hosted by <%= link_to 'Brightbox', 'https://www.brightbox.co.uk/a/zr3hp' %>.
        </p>

        <p><%= link_to "📅 NWRUG event calendar feed", events_url(format: :ics) %></p>

        <p>This text is licensed as <%= link_to 'CC0', 'http://creativecommons.org/about/cc0' %>; in summary, it is in the public domain and can be used and modified with or without attribution.</p>
        <p><%= link_to 'Fork me on GitHub', 'https://github.com/nwrug/nwrug.org' %></p>
      </footer>
    </div>
  </div>

   <script>
    var navigation = responsiveNav(".nav-collapse", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "after",                  // String: Insert the toggle before or after the navigation
      customToggle: "",                 // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });

    var hints = document.querySelectorAll('.hint');
    var i;
    for (i = 0; i < hints.length; i++) {
      hints[i].querySelector('a.hint-reveal').onclick = function(event) {
        event.preventDefault();
        this.style.display = 'none';
        this.parentElement.querySelector('p').style.display = 'block';
        return false;
      }
    }
  </script>
</body>
</html>
